<div id="contenedor">
    <div id="central">
        <div id="login">
            <div class="titulo">
                APIKOD
            </div>
            <div class="line"><hr class="line"></div>
            <form id="loginform">
                <input type="text" name="usuario" placeholder="Usuario" required>
                
                <input type="password" placeholder="Contraseña" name="password" required>
                
                <button type="submit" title="Ingresar" name="Ingresar">Iniciar sesión</button>
            </form>
            <div class="pie-form">
                <a routerLink="/register">¿No tienes cuenta? Registrate aquí</a>
            </div>
        </div>
    </div>
</div>