body {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;
    
    margin: 0;
    background-color:#181818;
}

.bloques{
 display: grid;   
 grid-template-columns: 100px 100px 100px;
 grid-gap: 10px;
}

.bloque{
    background-color:#36548a;
    text-align: center;
}